*{
   margin:0;
   padding:0;
   box-sizing:border box;
   color: white;
   font-family: "Plain Light";
}
html,body
{
 height:100%;
 width:100%;

}
#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #000000;
    padding: 25vh 8vw;
}
.line{
    overflow: hidden;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3vw;
}
.line-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
.line-part1 h5,.line-part1 h6{
    font-size: 3vw;
    font-family: "silk serif";
    font-weight: 100;

}
.line-part1 h5{
    
    width: 5vw;
    text-align: right;
}
.line h1{
    font-size: 6.5vw;
    font-weight: 600;
    text-transform: uppercase;
}
.line h2{
     font-size: 5vw;
    font-weight: 600;
    text-transform: uppercase;
    animation-name: anime;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes anime {
    0%{
           font-family: "Plain Light";
           opacity: 1;
           -webkit-text-stroke: 1px #ffffff;
           color: white;
           font-weight: 600;
    }
    47%{
           font-family: "Plain Light";
           opacity: 0;
           -webkit-text-stroke: 1px #ffffff;
           color: white;
           font-weight: 600;
    }
    50%{
          font-family: "silk serif";
            opacity: 1;
            -webkit-text-stroke: 1px #ffffff;
            color: transparent;
            font-weight: 600;
    }
    100%{
          font-family: "silk serif";
            opacity: 0;
            -webkit-text-stroke: 1px #ffffff;
            color: transparent;
            font-weight: 600;
    }
}
#main{
    position: relative;
    background-color: #030303;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #1a1a1a;
}